@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster&display=swap");

:root {
  --white-primary: #fff;
  --white-secondary: #fafafa;
  --white-dark: #dadce0;
  --blue-primary: #0d66a1;
  --green-primary: #34c759;
  --grey-light: #e9e4f0;
  --grey-light-2: #d4d5d9;
  --grey-semi-light: #aaaeb3;
  --grey-semi-dark: #48484a;
  --grey-dark: #2f2f31;
  --grey-dark-secondary: #29292b;
  --almost-black: #262627;
  --red-primary: #f64f59;
  --red-secondary: #ec2a37;

  /* dark mode clrs */
  --dark-mode-primary: #1a1d24;
  --dark-mode-secondary: #262a33;
  --dark-mode-1: #2e323c;
  --dark-mode-2: #363a46;
  --dark-mode-3: #2d2d2d;
  --dark-mode-4: #3e4250;
  --dark-mode-clr: #657ee4;

  --transition: all 0.3s linear;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #a5aaad;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark-mode {
  background-color: var(--dark-mode-primary);
}

::selection {
  background-color: var(--blue-primary);
  color: var(--white-secondary);
}

body.dark-mode ::selection {
  background-color: var(--dark-mode-clr);
}
